
<% if @chatrooms.present? %>
  <nav class="nav flex-column">
    <% @chatrooms.each do |chatroom| %>
      <%= link_to chatroom.name, chatroom_path(chatroom), class: 'nav-link chatroom-nav-link' %>
    <% end %>
  </nav>
<% else %>
  <div class="chat-status">
    There are no active chatrooms.
  </div>
<% end %>

<div class="mb-3">
   <%= link_to new_booking_chatroom_path(current_user.booking), class: 'btn-sendchat' do %>
    Start Chatting
  <% end %>
</div>
