<div class="row">
  <div class="col-12 col-md-3">
    <%= render partial: 'chatrooms' %>
  </div>

  <div class="col">
    <div class="alert alert-primary">
      <h1 class="chat-title">
        Welcome to the ConciergeAtSea Chat 💬
      </h1>
      <h2 class="chat-sub-title">
        We need to talk.
      </h2>
      <hr />
    </div>
</div>
