<div class="row">
  <div class="col-12 col-md-3">
    <%= render partial: 'chatrooms' %>
  </div>

  <div class="col">
    <div class="alert alert-primary">
      <h4 class="alert-heading">
        Welcome to the ConciergeAtSea Chat!
      </h4>

      <p>
        We need to talk.
      </p>

      <hr />

      <p>
        You can create or join a chatroom from the sidebar.
      </p>
    </div>
</div>
