<h1>
  Creating a room  
</h1>

<%= simple_form_for [@booking, @chatroom] do |f| %>
  <%= f.input :name %>
  <%= f.hidden_field :booking_id, value: @booking.id %> 
  <%= f.submit "Save", class: 'btn btn-success' %>
<% end %>
