<div class="navbar-cas navbar-expand-sm navbar-light navbar-lewagon">
  <a href="#" class="flyout-open">
    <svg width="42" height="38" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M3 18H21V16H3V18ZM3 13H21V11H3V13ZM3 6V8H21V6H3Z" fill="black"/>
    </svg>
  </a>

  <form novalidate="novalidate" class="simple_form search" action="/" accept-charset="UTF-8" method="get"><input name="utf8" type="hidden" value="&#x2713;" />
    <div class="search-form-control form-group">
      <input class="form-control string required" type="text" name="search[query]" id="search_query" />
      <button name="button" type="submit" class="btn btn-flat">
        <i class="fas fa-search"></i> Search
      </button>
    </div>
  </form>


  <%= link_to (image_tag("caslogo-transparent.png", class:'caslogo-navbar')), dashboard_path %>
</div>