<% if user_signed_in? %>
  <nav class="navbar navbar-light justify-content-between">
  <% unless current_page?('/dashboard') %>
    <%= link_to (image_tag("back-arrow.svg")), request.referer.present? ? request.referer : default_path %>
  <% end %>  
      <%= link_to (image_tag("CASLOGO.png", class:'caslogo-navbar')), dashboard_path %>
    </div>
  </nav>
<% end %>