.agenda-input {
  border-top: 2px solid #DDD;
  border-bottom: 2px solid #DDD;
  // background-color: white;
  width: 100%;
  padding: 10px;
  text-align: center;
  margin-top: 10px;
}

.agenda-text {
color: #455a64;
font-family: Heebo;
font-size: 18px;
}

.quantity-buttons-agenda {
  display: flex;
  justify-content: space-evenly;
  padding: 10px 80px;
  margin-top: -5px;
}

.btn-agenda {
  font-weight: 300;
  color: #455a64;
  border-radius: 6px;
  background-color:#EAEDED;
  box-shadow: 0px 5px 10px rgba(0,0,0,0.4);
  width: 40px;
  height: 30px;
}

.btn-tender-agenda {
  font-weight: 300;
  color: #455a64;
  border-radius: 6px;
  background-color:#EAEDED;
  box-shadow: 0px 5px 10px rgba(0,0,0,0.4);
  padding: 6px;
}

.tender-agenda-buttons {
  display: flex;
  justify-content: space-evenly;
  padding: 10px 120px;
  margin-top: -15px;
  align-items: center;
}