.agenda-input {
  border-top: 2px solid #DDD;
  border-bottom: 2px solid #DDD;
  background-color: white;
  width: 100%;
  padding: 20px;
  text-align: center;
  margin-top: 10px;
}

.agenda-text {
color: #455a64;
font-family: Heebo;
font-size: 18px;
}