html.tender {
    background: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)),
    url(https://images.pexels.com/photos/570987/pexels-photo-570987.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    min-height: 100%;
    width: 100%;
    height: auto;
}

html.menu {
    background: linear-gradient(rgba(0,0,0,0.8), rgba(0,0,0,0.8)),
    url(https://images.pexels.com/photos/313700/pexels-photo-313700.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    min-height: 100%;
    width: 100%;
    height: auto;
}

html.agenda {
    background: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)),
    url(https://images.pexels.com/photos/1020323/pexels-photo-1020323.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    min-height: 100%;
    width: 100%;
    height: auto;
}

html.order {
    background: linear-gradient(rgba(0,0,0,0.8), rgba(0,0,0,0.8)),
    url(https://images.pexels.com/photos/1226398/pexels-photo-1226398.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    min-height: 100%;
    width: 100%;
    height: auto;
}

html.beverages {
    background-color:  #EAEDED;
}

html.alldaydining {
    background: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)),
    url(https://images.pexels.com/photos/1152276/pexels-photo-1152276.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260.jpg&fm=jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    min-height: 100%;
    width: 100%;
    height: auto;
}

html.alcohol {
    background: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)),
    url(https://images.pexels.com/photos/1283219/pexels-photo-1283219.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260.jpg&fm=jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    min-height: 100%;
    width: 100%;
    height: auto;
}

html.softdrink {
    background: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)),
    url(https://images.pexels.com/photos/1643324/pexels-photo-1643324.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260.jpg&fm=jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    min-height: 100%;
    width: 100%;
    height: auto;
}

html.tea {
    background: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)),
    url(https://images.pexels.com/photos/39471/cup-tee-teacup-glass-cup-39471.jpeg?cs=srgb&dl=color-colorful-colourful-39471.jpg&fm=jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    min-height: 100%;
    width: 100%;
    height: auto;
}

html.coffee {
    background: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)),
    url(https://images.pexels.com/photos/1418364/pexels-photo-1418364.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260.jpg&fm=jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    min-height: 100%;
    width: 100%;
    height: auto;
}

html.cocktail {
    background: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)),
    url(https://images.pexels.com/photos/613037/pexels-photo-613037.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260.jpg&fm=jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    min-height: 100%;
    width: 100%;
    height: auto;
}

html.profile {
    background: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)),
    url(https://images.pexels.com/photos/346798/pexels-photo-346798.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    min-height: 100%;
    width: 100%;
    height: auto;
}

html.chatroom {
    background: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)),
    url(https://images.pexels.com/photos/292426/pexels-photo-292426.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    min-height: 100%;
    width: 100%;
    height: auto;
}