.beverage-title {
    font-size: 30px;
    letter-spacing: 0.07em;
    font-weight: 400;
    line-height: 1;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 15px;
    width: 100%;
    color: #EAEDED;
}

.quantity-number {
    margin-top: 5px;
    margin-bottom: 1px;
    margin-right: 15px;
    margin-left: 15px;
}

.drink-title {
    font-size: 22px;
    letter-spacing: 0.07em;
    font-weight: 300;
    line-height: 1;
    width: 100%;
    text-align: center;
    margin-top: 25px;
    color: #EAEDED;
}

.drink-sub {
    font-style: italic;
    font-size: 16px;
    letter-spacing: 0.07em;
    font-weight: 300;
    line-height: 1;
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
    color:#EAEDED;
}

.drink-para {
    font-weight: 300;
    font-size: 19px;
    padding: 3px 30px;
    text-align: center;
    color: #EAEDED;
}

.btn-drink {
    font-weight: 400;
    color: #455a64;
    border-radius: 8px !important;
    padding: 10px 11px !important;
    background-color:#EAEDED !important;
    box-shadow: 0px 1px 2px rgba(0,0,0,0.4) !important;
    margin-top: 1px !important;
}

.drink-form {
    width: 37%;
    height: 10%;
    margin: auto;
    column-count: 2;
    column-gap: 10px;
}

.drink-title-frame {
    width: 100%;
    border-top: 2px solid #EAEDED;
    border-bottom: 2px solid #EAEDED;
}

.quantity-buttons {
    display: flex;
    justify-content: space-evenly;
    padding: 10px 120px;
    margin-top: -5px;
}

.number-beverage {
    color: #EAEDED;
    padding: 3px 30px;
}