.btn-one {
    border-radius: 10px;
    margin-top: 12px;
    background-color: transparent;
    border: none;
    box-shadow: 0px 1px 2px rgba(0,0,0,0.4);
    
  .btn-one-text {
    font-weight: 300;
    text-align: center;
    color: #455a64;
    font-size: 30px;
    letter-spacing: 0.03em;
    line-height: 0.7;
    }
  }