body {
    margin: 0;
    min-height: 100%;
    min-width: 100%;
}
.banner_wrapper_login {
    display: flex;
    justify-content: center;
}
.container_login_text {
    text-align: center;
    margin-right: 20px;
    margin-left: 20px;
}

.login-text-sub {
    font-size: 20px;
    font-weight: 300;
    letter-spacing: 0.07em;
    line-height: 1.0;
    color: #01426a;
    margin-top: -58px;
    padding: 0px 39px;
}

img.caslogo-transparent {
    width: 90%;
    margin-top: 33px;
}
.form-inputs {
    max-width: 55vw;
    margin: auto;
    padding-top: 110px;
    padding-bottom: 44px;
    font-family: Heebo;
    line-height: 1%;
}
.forgot-pass-text {
    color: #EAEDED;
    font-family: Heebo;
    line-height: 1%;
}
.form-check-input {
    margin-top: -0.1rem;
    margin-left: -1.25rem;
    margin-right: 0.5rem;
}

.form-check-input.is-valid ~ .form-check-label {
    color: #EAEDED;
}

.form-check-label {
  color: #EAEDED;
  margin-top: 15px;
}

.form-input-login {
    font-size: 13px;
    border-radius: 10px;
    margin-top: 65px;
}

input.form-control {
    padding: 5px;
    font-size: 13px;
    border-radius: 10px;
    margin-bottom: -20px;
}

input.btn {
    background-color: #EAEDED;
    margin-top: 10px;
    border: none;
    border-radius: 10px;
    box-shadow: 0px 5px 10px rgba(0,0,0,0.6);
    font-weight: 400;
    text-align: center;
    letter-spacing: 0.03em;
    line-height: 0.7;
    font-family: Heebo;
    font-size: 15px;
}

.login-page-btn {
    margin-top: -22px;
    border-radius: 10px;
    background: #EAEDED;
    padding-top: 28px;
    height: 14px;
    box-shadow: 7px 6px 9px grey;
}

.form-words {
    color: white !important;
}
    