.container_preferences {
    margin-left: 20%;
    margin-right: 20%;
}

.container-column-preferences {
    column-count: 3;
    display: block;
}

.preferences-form-top {
  text-align: center;
  width: 35%;
  margin-left: 215px;
  margin-bottom: 50px;
}

.preference-list {
    list-style: none;
}

.preferences-text {
    font-size: 29px;
    letter-spacing: 0.07em;
    font-weight: 400;
    line-height: 1.4;
    text-align: center;
    margin-top: 30px;
}
.character {
   margin-left: 80px;
   text-align: left; 
}

.interests-list {
  margin-left: 5px;
  text-align: left;
  margin-bottom: 25px;
}

.second-heading {
    font-weight: 300;
    font-size: 25px;
    padding-top: 15px;
    text-align: center;
}

.food-preferences-list {
    margin-left: 113px;
    column-count: 1;
    text-align: left;  
}


.pref-column-list {
    margin-left: 7px;
    text-align: left;
}