.edit-actions {
    text-align: center;
    line-height: 1.5;
    margin-top: -15px;
}

.form-group {
    margin-bottom: 2rem;
}

.edit-link {
  color: #455a64;
  font-family: Heebo;
}

.flowers-form {
  color:  #455a64;
}

.form-check-input {
  margin-top: 0.6rem;
  margin-left: -1.25rem;
  margin-right: 0.5rem;
}