.btn-order-a {
    font-weight: 400 !important;
    border-radius: 16px !important;
    margin-bottom: 20px;
    background-color:#EAEDED !important;
    padding: 3px 10px;
    box-shadow: 12px 12px 22px rgba(0,0,0,0.9) !important;
    padding: 11px 10px;
    margin: 10px !important;
    color: #455a64 !important;
}

.btn-order-r {
    font-weight: 400 !important;
    border-radius: 16px !important;
    margin-bottom: 20px;
    background-color:#EAEDED !important;
    padding: 3px 10px;
    box-shadow: 12px 12px 22px rgba(0,0,0,0.9) !important;
    padding: 11px 10px;
    margin: 10px !important;
    color: #455a64 !important;
}

.btn-order {
    font-weight: 400 !important;
    border-radius: 16px !important;
    margin-bottom: 20px;
    background-color:#EAEDED !important;
    padding: 3px 10px;
    box-shadow: 12px 12px 22px rgba(0,0,0,0.9) !important;
    padding: 11px 10px;
    margin: 10px !important;
    color: #455a64 !important;
}

.order-text {
    color: #EAEDED;
    font-family: Heebo;
    font-size: 18px;
}

.title-order {
    font-size: 29px;
    letter-spacing: 0.07em;
    font-weight: 400;
    line-height: 1;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 27px;
    width: 100%;
    color: #EAEDED;
}

.sub-title-order {
    font-size: 25px;
    letter-spacing: 0.07em;
    font-weight: 400;
    line-height: 1;
    text-align: center;
    margin-top: 24px;
    margin-bottom: 8px;
    width: 100%;
    color: #EAEDED;
}

.a-r {
    display: flex;
    justify-content: center;
    margin-top: -10px;
    margin-bottom: 40px;
}