.btn-tender {
    font-weight: 400 !important;
    border-radius: 16px !important;
    margin-bottom: 20px;
    background-color:#EAEDED !important;
    padding: 3px 10px;
    box-shadow: 0px 1px 2px rgba(0,0,0,0.4) !important;
    padding: 13px 10px;
    margin: 0px !important;
    color: #455a64 !important;
  }

.tender-time {
  font-weight: 300;
  color: #455a64;
  border-radius: 10px;
  margin-bottom: 20px;
  background-color:#EAEDED;
  padding: 3px 10px;
  box-shadow: 0px 1px 2px rgba(0,0,0,0.4);
}

.tender-card {
  width: 100%;
  text-align: center;
  margin-top: 103px;
}

.tender-text-box {
margin-top: 20px;
}

.tender-text {
  color: #EAEDED;
  font-family: Heebo;
  font-size: 18px;
  padding: 15px;
  font-weight: 400;
}

.tender-input {
    width: 100%;
    padding: 15px;
}

.form-control{
  padding: 0px;
  font-size: 13px;
  border-radius: 10px;
}