<div class="banner_wrapper_dashboard">
  <div class="container-dashboard">
    <h1 class="activities-text"><%= "#{current_user.booking.yatch.yatch_name}'s Activities" %></h1>
    <% @activities.each do |activity| %>
    <div class="activity-card">
      <img src="../../assets/images/paddle.jpg">
      <div class="activity-card-infos">
        <%= link_to activity_path(activity) do %>
            <h1 class="second-heading-activities"><%= activity.name.capitalize %></h1>
            <h2 class="description-activities"><%= activity.description.capitalize %></h2>
        <% end %>
      </div> 
    </div>
    <% end %>
  </div>
</div>
