<div class="banner_wrapper_dashboard">
  <div class="container-dashboard">
    <h1 class="activities-text"><%= "#{current_user.booking.yatch.yatch_name}'s Activities" %></h1>
    <% @activities.each do |activity| %>
    <div class="activity-card">
        <%= link_to activity_path(activity) do %>
            <h1 class="second-heading-activities"><%= activity.name.capitalize %></h1>
        <% end %> 
    </div>
    <% end %>
  </div>
</div>
